* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: "Poppins", sans-serif;
   height: 3000px;
}

/* ======== common ========= */
.content {
   width: 1110px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}

a {
   text-decoration: none;
}

.btn {
   display: inline-block;
   padding: 15px 17px;
   min-width: 98px;
   background: #0f1b4c;
   border-radius: 8px;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.5;
   text-align: center;
   color: #FFFFFF;
}

/* ======== header ========= */
.header {
   position: relative;
   height: 100vh;
   background-color: #e6f0ff;
}

.navbar {
   display: flex;
   padding-top: 38px;
   align-items: center;
}

.navbar ul {
   display: flex;
   padding-left: 64.5px;
   gap: 30px;
}

.navbar ul a {
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.5;
   color: #4f5361;
}

.navbar ul a:hover {
   text-decoration: underline;
}

.navbar .action {
   margin-left: auto;
}

.navbar .action-link {
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.5;
   color: #0F1B4C;
}

.navbar .action-btn {
   padding: 10px 16px;
   margin-left: 18px;
}

.navbar .action-btn:hover {
   opacity: 0.9;
}

/* ======== hero ========= */
.hero {
   margin-top: 130px;
   width: 560px;
}

.hero .sub-title {
   font-weight: 500;
   font-size: 1.8rem;
   line-height: 1.5;
   letter-spacing: 0.01em;
   color: #687691;
}

.hero .title {
   margin-top: 8px;
   font-weight: 700;
   font-size: 6.2rem;
   line-height: 1.19;
   color: #000336;
}

.hero .desc {
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 1.78;
   color: #5A6473;
   margin-top: 30px;
}

.hero .btn {
   margin-top: 40px;
   font-size: 1.3rem;
}

.hero .image {
   position: absolute;
   right: calc((100vw - 1110px)/2 - 100px);
   bottom: 0;
}

/* ======== Clients ========= */
.client {
   margin-top: 120px;
}

.client .row {
   display: flex;
}

.client .star {
   margin-left: auto;
}

.client .desc {
   margin-top: 23px;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.25;
   color: #7D8589;
}

.client .desc-2 {
   margin-left: auto;
   margin-top: 18.15px;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.25;
   text-align: right;
   color: #7D8589;
}
.client .logo-banner {
   display: flex;
   align-items: center;
   margin-top: 70px;
}
.client .logo-banner img {
   padding: 31px 41px 22px;
   gap: 20px;
}
.client .logo-banner img:hover {
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}